.about {
    font-size: 1rem;
    margin: 0 0 0 10%;
   /* background-color: purple;*/
    width: 20px;
    position: relative;
    animation-name: about-dropdown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes about-dropdown {
	0% {
		top: -200px;
	}
	50% {
		top: 30px;
	}
	100% {
		top: 0px;
	}
}

.about-intro-container{
	display: block;
	flex-direction: space-around;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 65%;
	margin: -60px auto 0px auto;
/*	background-color: magenta;*/
	font-size: 2.3rem;
}
.resume-container {
	display: block;
	flex-direction: space-around;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 65%;
	margin: 0px auto;
/*	background-color: magenta;*/
	font-size: 2.3rem;
}
.skills ul, .tools ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.skills li, .tools li {
	padding: 0 0.2rem;
	text-align: center;
}
.skills, .tools {
	margin: 85px 0;
/*	background-color: yellow;*/
}
