.projects {
    font-size: 1rem;
    margin: 0 0 0 10%;
    width: 20px;
    position: relative;
    animation-name: projects-dropdown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes projects-dropdown {
	0% {
		top: -250px;
	}
	50% {
		top: 50px;
	}
	100% {
		top: 0px;
	}
}
