.projects {
    font-size: 1rem;
    margin: 0 0 0 10%;
    width: 20px;
    position: relative;
    animation-name: projects-dropdown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes projects-dropdown {
	0% {
		top: -250px;
	}
	50% {
		top: 50px;
	}
	100% {
		top: 0px;
	}
}
.project-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	margin: -80px auto 0px auto;
}
.card {
  background-color: transparent;
  width: 400px;
  height: 225px;
  perspective: 1000px;
  margin: 0 25px;
  cursor: pointer;

}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);

}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
.card-front {
	text-align: center;
    background-color: white;
    color: black;
}
.card-back {
  transform: rotateY(180deg);
}
.card-info {
	margin-top: 70px;
}
/*button {
	position: absolute;
	z-index: 10;
}*/