.body {

}
.body-logo {
    color: white;
    font-size: 10rem;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 5px 0 5px;
    width: 400px;
    z-index: 1;
    position: relative;
    margin: 8% auto 0 auto;
  }
  .body-logo:before {
    border-top: 2px solid white;
    content:"";
    position: absolute;
    width: 400px;
    z-index: -1;
}
.body-intro {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    padding: 25px;
    margin: 0 auto 0 20%;
    width: 25%;
    border-top: solid;
    border-right: solid;
    border-bottom-width: 3px;
    border-bottom-width: 3px;
    border-color: white;
}